export const TG_BOT_KEY = 'tg_bot_api_key_goes_here';

export const OPENAI_API_KEY = 'openai_api_key_goes_here';

export const INIT_USERS = [
  {
    tgId: 123456789,
    tgUsername: 'Nickname',
    tgFirstname: 'First Name',
    tgLastname: 'Last Name',
    selectedModelKey: 'ChatGPT-4o-mini',
    isAdmin: 1,
  },
];

export const CHUNK_LENGTH_MINUTES = 10;

export const MAX_PROMPT_LENGTH = 256; // Max length of transcribed text of previously chunk to send as prompt

export const TEMP_FILES_DIR = 'temp';

export const STRANGER_LOGS_FILENAME = 'strangers.log';
